{% extends 'core/index.html' %}

{% block content %}
   <main>
        <div>
            <div id="swiper-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(https://images.freeimages.com/images/large-previews/182/jesus-wept-1313925.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(https://cdn.pixabay.com/photo/2016/02/19/11/53/book-1210030_960_720.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(https://images.freeimages.com/images/large-previews/b9a/the-holy-bible-1483623.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(https://images.freeimages.com/images/large-previews/fa7/bible-reader-1408911.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(https://images.freeimages.com/images/large-previews/a62/god-s-spendor-1313092.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(https://cdn.pixabay.com/photo/2017/09/04/09/38/cross-2713356_960_720.jpg);"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- <div id="pg-bar"></div> -->
            </div>
        </div>

        <div style="display: none;">
            <div id="mes_oracao_ramada">
                <section>
                    <div class="content" style="text-align: center">
                       <iframe src="https://www.google.com/maps/d/embed?mid=1OdIyGUusuoxl80LXJWbaxKJ5qFRDZGp1" width="640" height="480"></iframe>
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="sobre">
                <section>
                    <div class="content">
                        <h1>Aqui é o lugar onde Deus nos mostra que somos dependentes Dele.</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quae ut itaque ratione eos temporibus? Aspernatur molestias facilis fuga facere, tenetur, reiciendis consequatur quasi nostrum fugit, consectetur ipsam alias.</p>
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="agenda">
                <section>
                    <div class="content">
                        <h1>Agenda da Semana</h1>
                        
                        <div class="flex">

                        {% for meeting in meetings %}
                            <div class="fx_4">
                                <div class="noticia">
                                    <h2 class="NT-titulo">{{ meeting.title }}</h2>
                                    {% if meeting.location %}
                                        <h5 class="NT-categoria">{{ meeting.location }}</h5>
                                    {% endif %}
                                    <p class="NT-resumo">
                                        <span><i class="fas fa-clock"></i> {{ meeting.start_date }}</span>
                                        <!-- {% if meeting.end_date %}
                                            <span><i class="fas fa-clock"></i> {{ meeting.start_date }} às {{ meeting.end_date }}</span>
                                        {% else %} -->
                                            <!-- <span><i class="fas fa-clock"></i> {{ meeting.start_date }}</span> -->
                                        <!-- {% endif %} -->
                                        <br>
                                    </p>
                                    <p class="AG-pregador"><span><strong>Pregador:</strong> {{ meeting.preacher }}</span></p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="cultos-online">
                <section>
                    <div class="content">
                        <h1>Nada impede que Deus chegue até você.</h1>
                        <div class="flex">
                            {% for video in videos %}
                                <div class="fx_3">
                                    <div class="video">
                                        <iframe src="https://www.youtube.com/embed/{{video.youtube_video_code}}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <h4>{{video.title}}</h4>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="link-btn-youtube" href="https://www.youtube.com/channel/UC-hzq9E2dNoxj29qpSgyfuw" target="_blank">Assista mais cultos em nosso canal no YouTube!</a>
                        <div class="clear"></div>
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="comunicados">
                <section>
                    <div class="content">
                        <h1>Comunicados Importantes</h1>
                        
                        <div class="flex">

                        {% for post in posts %}
                            <div class="fx_4">
                                <div class="noticia">
                                    <h1 class="NT-titulo">{{ post.title|slice:"0:41" }}</h1>
                                    <!-- <h5 class="NT-categoria">Categoria</h5> -->
                                    <h6 class="NT-data">Publicado por {{ post.publisher }} em {{ post.published_date }}.</h6>
                                    <p class="NT-resumo">{{ post.text|linebreaksbr|slice:"0:135" }}...</p>
                                    <a href="{% url 'post_detail' pk=post.pk %}" class="NT-readmore">Saiba +</a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>

                        <p style="text-align: right; font-size: 14px;"><a style="border-bottom: 1px solid;" href="{% url 'posts' %}"><strong><em>Veja mais notícias</em></strong></a></p>
                    </div>
                </section>
            </div>
        </div>

        <div style="margin-bottom: 100px;">
            <div id="contribuicao">
                <section>
                    <div class="content">
                        <h1>Deus ama ao que dá com alegria.</h1>
                        <img src=" /media/general_images/oferta-home.jpg" class="imgL" alt="">
                        <h3>Faça sua contribuição abaixo</h3>

                        <form method="post" class="default">
                            {% csrf_token %}

                            <div>
                                <p for="id_donor_name">Nome:</p>
                                <input type="text" name="donor_name" maxlength="100" required="" id="id_donor_name">
                            </div>
                            <div>
                                <p for="id_donor_email">Email:</p>
                                <input type="email" name="donor_email" required="" id="id_donor_email">
                            </div>
                            <div>
                                <p for="id_donate_Type">Tipo da doação:</p>
                                <select name="donate_Type" id="id_donate_Type">
                                    <option value="tithe">Dízimo</option>
                                    <option value="offer">Oferta</option>
                                </select>
                            </div>
                            
                            <div>
                                <p for="id_amount">Valor (R$):</p>
                                <input type="number" name="amount" step="any" required="" id="id_amount">
                            </div>
                            
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: green;" type="submit" formaction="{% url 'pagseguro_donate_view' %}">Pagar com PagSeguro</button>
                            </p>
                            
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: blue;" type="submit" formaction="{% url 'paypal_donate_view' %}">Pagar com PayPal</button>
                            </p>
                        </form>

                        <!-- <form class="default" method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: green;" type="submit" formaction="{% url 'pagseguro_donate_view' %}">Pagar com PagSeguro</button>
                            </p>
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: blue;" type="submit" formaction="{% url 'paypal_donate_view' %}">Pagar com PayPal</button>
                            </p>
                        </form> -->

                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="mission">
                <section>
                    <h1>Como Igreja, somos o corpo de Cristo</h1>
                    <p class="statement"><em>"Dele todo o corpo, ajustado e unido pelo auxílio de todas as juntas, cresce e edifica-se a si mesmo em amor, na medida em que cada parte realiza a sua função."</em> <strong>Efésios 4:16</strong></p>
                    
                    <div class="flex">

                        <dl class="fx_3">
                            <!-- <dd><img src="img/MS-home-bible.png" style="width: 180px;" class="imgC"></dd> -->
                            <dd><span><i class="fas fa-bible"></i></span></dd>
                            <dt>Visão</dt>
                            <dd>
                                <p>"Our job is to prepare our children for Heaven, if they make to Harvard, that's a bonus."</p>
                                <p class="author">Thomas Halfaker, Principal</p>
                            </dd>
                        </dl>  

                        <dl class="fx_3">
                            <!-- <dd><img src="img/MS-home-social.png" style="width: 180px;" class="imgC"></dd> -->
                            <dd><span><i class="fas fa-hand-holding-heart"></i></span></dd>
                            <dt>Missão</dt>
                            <dd><p>"In this life, we can not do great things, we can only do small things with great love."</p> <p class="author">Mother Teresa</p></dd>
                        </dl>  

                        <dl class="fx_3">
                            <!-- <dd><img src="img/MS-home-social.png" style="width: 180px;" class="imgC"></dd> -->
                            <dd><span><i class="fas fa-praying-hands"></i></span></dd>
                            <dt>Valores</dt>
                            <dd>
                                <p>"Sports contribute to the love of life, teaches sacrifice, respect and responsibility, leading to the full development of every human person."</p>
                                <p class="author">Saint John Paul II</p>
                            </dd>
                        </dl>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}    