{% extends 'core/index.html' %}

{% block content %}
   <main>
        <div>
            <div id="swiper-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(/media/general_images/ibc_portal_church_outside_image.jfif);"></div>
                    <div class="swiper-slide" style="background-image:url(/media/general_images/ibc_portal_church_inside_image.jfif);"></div>
                    <div class="swiper-slide" style="background-image:url(/media/general_images/ibc_portal_church_inside_reverse_image.jfif);"></div>
                    <div class="swiper-slide" style="background-image:url(/media/general_images/ibc_portal_rood_image.jfif);"></div>
                    <div class="swiper-slide" style="background-image:url(/media/general_images/ibc_portal_bible2_image.jfif);"></div>
                    <div class="swiper-slide" style="background-image:url(/media/general_images/ibc_portal_wood_image.jfif);"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- <div id="pg-bar"></div> -->
            </div>
        </div>

        <div>
            <div id="sobre">
                <section>
                    <div class="content">
                        <h1>Aqui é o lugar onde Deus nos mostra que somos dependentes Dele.</h1>
                        <div class="major-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at magna consequat, hendrerit est convallis, fermentum nulla. Cras non tellus urna. Nunc ultricies sapien id rhoncus fringilla. Ut malesuada dapibus ipsum non mattis. Mauris in neque gravida, laoreet risus at, rutrum nulla. Cras faucibus varius lectus nec pulvinar. Nullam porta tempus risus, non mattis urna elementum sit amet. In iaculis faucibus nibh et luctus. Aenean ornare in leo quis luctus. Integer dapibus, dolor congue finibus tincidunt, ante nisi porta nisi, sed vulputate risus mauris id dui. Sed posuere dui a mi pellentesque fringilla. Nullam consectetur at eros non mattis. Donec quis congue lectus. Phasellus a mauris lectus.</p>
                            <p>Curabitur vel aliquet erat. In urna nisi, aliquam in ultrices et, porta vitae mauris. Etiam aliquam pellentesque turpis, vitae elementum purus ornare consequat. Aliquam erat volutpat. Sed lobortis augue arcu, vel molestie nulla semper vitae. Phasellus pellentesque ligula nisi, non laoreet mi euismod vel. Donec vehicula ultricies tellus ut scelerisque. Nulla commodo, dolor sodales rhoncus gravida, purus neque tempor ligula, vel faucibus neque ipsum ut lorem. Duis aliquet dapibus hendrerit.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="agenda">
                <section>
                    <div class="content">
                        <h1>Agenda da Semana</h1>

                        {% if not meetings %}
                            <div class="alert alert-warning">A agenda da semana está em atualização.</div>
                        {% endif %}
                        
                        <div class="flexC">

                        {% for meeting in meetings %}
                            <div class="fx_4">
                                <div class="noticia">
                                    {% if meeting.formatted_title|length > 20  %}
                                        <h2 class="NT-titulo" style="font-size: 18px !important;">{{ meeting.formatted_title }}</h2>
                                    {% else %}
                                        <h2 class="NT-titulo">{{ meeting.formatted_title }}</h2>
                                    {% endif %}
                                    {% if meeting.location %}
                                        <h5 class="NT-categoria">{{ meeting.location }}</h5>
                                    {% elif meeting.category == 'ONLINE'  %}
                                        <h5 class="NT-categoria">Encontro Online</h5>
                                    {% else  %}
                                        <h5 class="NT-categoria">Local não informado</h5>
                                    {% endif %}
                                    <p class="NT-resumo">
                                        <span><i class="fas fa-clock"></i> {{ meeting.start_date }}</span>
                                        <!-- {% if meeting.end_date %}
                                            <span><i class="fas fa-clock"></i> {{ meeting.start_date }} às {{ meeting.end_date }}</span>
                                        {% else %} -->
                                            <!-- <span><i class="fas fa-clock"></i> {{ meeting.start_date }}</span> -->
                                        <!-- {% endif %} -->
                                        <br>
                                    </p>
                                    {% if meeting.preacher %}
                                        <p class="AG-pregador"><span><strong>Pregador:</strong> {{ meeting.preacher }}</span></p>
                                    {% else %}
                                        <p class="AG-pregador"><span><strong>Pregador:</strong> Não informado</span></p>
                                    {% endif %}
                                    <div class="clear"></div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="cultos-online">
                <section>
                    <div class="content">
                        <h1>Nada impede que Deus chegue até você.</h1>

                        {% if not videos %}
                            <div class="alert alert-warning">Os nossos vídeos estão em atualização.</div>
                        {% else %}
                            <div class="flexC">
                                {% for video in videos %}
                                    <div class="fx_3">
                                        <div class="video">
                                            <iframe src="https://www.youtube.com/embed/{{video.youtube_video_code}}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        <h4>{{video.title}}</h4>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="link-btn-youtube" href="https://www.youtube.com/channel/UCmPd3ZVeN9cPjh09WmdEfng" target="_blank">Assista a mais cultos em nosso canal no YouTube!</a>
                            <div class="clear"></div>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="comunicados">
                <section>
                    <div class="content">
                        <h1>Comunicados Importantes</h1>

                        {% if not posts %}
                            <div class="alert alert-warning">Não existem comunicados recentes.</div>
                        {% endif %}
                        
                        <div class="flexC">

                        {% for post in posts %}
                            <div class="fx_4">
                                <div class="noticia">
                                    <h1 class="NT-titulo">{{ post.title|slice:"0:41" }}</h1>
                                    <h6 class="NT-data">Publicado por {{ post.publisher }} em {{ post.published_date }}.</h6>
                                    {% if post.text|length < 117  %}
                                        <p class="NT-resumo" style="margin-bottom: 32px !important;">{{ post.text }}</p>
                                    {% else %}
                                        <p class="NT-resumo">{{ post.text|slice:"0:140" }}...</p>
                                    {% endif %}
                                    <a href="{% url 'post_detail' pk=post.pk %}" class="NT-readmore">Saiba +</a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>

                        <p style="text-align: right; font-size: 14px; display: none;"><a style="border-bottom: 1px solid;" href="{% url 'posts' %}"><strong><em>Veja mais notícias</em></strong></a></p>
                    </div>
                </section>
            </div>
        </div>

        <div style="margin-bottom: 100px; display: none;">
            <div id="contribuicao">
                <section>
                    <div class="content">
                        <h1>Deus ama ao que dá com alegria.</h1>
                        <img src=" /media/general_images/oferta-home.jpg" class="imgL" alt="">
                        <h3>Faça sua contribuição abaixo</h3>

                        <form method="post" class="default">
                            {% csrf_token %}

                            <div>
                                <p for="id_donor_name">Nome:</p>
                                <input type="text" name="donor_name" maxlength="100" required="" id="id_donor_name">
                            </div>
                            <div>
                                <p for="id_donor_email">Email:</p>
                                <input type="email" name="donor_email" required="" id="id_donor_email">
                            </div>
                            <div>
                                <p for="id_donate_Type">Tipo da doação:</p>
                                <select name="donate_Type" id="id_donate_Type">
                                    <option value="tithe">Dízimo</option>
                                    <option value="offer">Oferta</option>
                                </select>
                            </div>
                            
                            <div>
                                <p for="id_amount">Valor (R$):</p>
                                <input type="number" name="amount" step="any" required="" id="id_amount">
                            </div>
                            
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: green;" type="submit" formaction="{% url 'pagseguro_donate_view' %}">Pagar com PagSeguro</button>
                            </p>
                            
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: blue;" type="submit" formaction="{% url 'paypal_donate_view' %}">Pagar com PayPal</button>
                            </p>
                        </form>

                        <!-- <form class="default" method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: green;" type="submit" formaction="{% url 'pagseguro_donate_view' %}">Pagar com PagSeguro</button>
                            </p>
                            <p style="margin-top: 39px; text-align: center;">
                                <button class="link-contribuicao" style="background-color: blue;" type="submit" formaction="{% url 'paypal_donate_view' %}">Pagar com PayPal</button>
                            </p>
                        </form> -->

                    </div>
                </section>
            </div>
        </div>

        <div>
            <div id="mission">
                <section>
                    <h1>Como Igreja, somos o corpo de Cristo</h1>
                    <p class="statement"><em>"Dele todo o corpo, ajustado e unido pelo auxílio de todas as juntas, cresce e edifica-se a si mesmo em amor, na medida em que cada parte realiza a sua função."</em> <strong>Efésios 4:16</strong></p>
                    
                    <div class="flex">
                        <dl class="fx_3">
                            <!-- <dd><img src="img/MS-home-bible.png" style="width: 180px;" class="imgC"></dd> -->
                            <dd><span><i class="fas fa-bible"></i></span></dd>
                            <dt>Visão</dt>
                            <dd>
                                <p>"Quem converte um pecador do erro do seu caminho, salvará a vida dessa pessoa e fará que muitíssimos pecados sejam perdoados.="</p>
                                <p class="author">Tiago 5:20</p>
                            </dd>
                        </dl>  

                        <dl class="fx_3">
                            <!-- <dd><img src="img/MS-home-social.png" style="width: 180px;" class="imgC"></dd> -->
                            <dd><span><i class="fas fa-hand-holding-heart"></i></span></dd>
                            <dt>Missão</dt>
                            <dd><p>"Vão pelo mundo todo e preguem o evangelho a todas as pessoas."</p> <p class="author">Marcos 16:15</p></dd>
                        </dl>  

                        <dl class="fx_3">
                            <!-- <dd><img src="img/MS-home-social.png" style="width: 180px;" class="imgC"></dd> -->
                            <dd><span><i class="fas fa-praying-hands"></i></span></dd>
                            <dt>Valores</dt>
                            <dd>
                                <p>"Toda a Escritura é inspirada por Deus e útil para o ensino, para a repreensão, para a correção e para a instrução na justiça."</p>
                                <p class="author">2a Timóteo 3:16</p>
                            </dd>
                        </dl>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}    