{% extends 'core/index.html' %}

{% block content %}
    <div style="padding: 0.01em 16px; margin-top: 20px; margin-bottom: 20px;">
        <h2><span style="border-bottom:1px solid #ccc">{{ post.title }}</span></h2>
        <div style="border:1px solid #ccc; border-radius: 16px; padding-left:5px; background-color:aliceblue">
            <p>{{ post.text|linebreaksbr }}</p>
            {% if post.published_date %}
            <p>
                {% if post.published_date %}
                    <span>Publicado por {{ post.publisher }} em {{ post.published_date }}<span>
                {% else %}
                    <span>Publicado por {{ post.publisher }} em {{ post.creation_date }}<span>
                {% endif %}
                <br>
                <span style="font:small-caption;">Publicação gerenciada por {{ post.manager }}<span>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}