{% extends 'core/index.html' %}

{% block content %}
    {% for post in posts %}
        <div style="border-left: 6px solid silver; background-color: #ddffff; border-color: #2196F3; padding-left: 12px;">
            <h2 style="padding-top:7px;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <p style="padding-bottom:7px;">
                <span>Publicado por {{ post.publisher }} em {{ post.creation_date }}<span>
                <br>
                <span style="font:small-caption;">Publicação gerenciada por {{ post.manager }}<span>
            </p>
        </div>
    {% endfor %}
{% endblock %}    